/* HTML ELEMENTS */


html, body, #wrapper {
      height:100%;
      margin: 0;
      padding: 0;
      border: none;
      text-align: left;
      color: #000;
	  background-color: #FFF;
	}


a {
	color: #000;
	text-decoration: none;
	}

a:hover {
	color: #000;
	text-decoration: underline;
	}

a:active {
	color: #FFF;
	}

ol, ul, li {
	display: inline;
	margin: 0;
	padding: 0;
	list-style: none;
	}

img {
	border: none;
	}

p {
	text-indent: 0px;
	margin-bottom: -20px;
	}



/* LOGO */

#logo {
	width:110px;
}



/* TYPE STYLES */
/* Menu, Body, Mono */


.Menu {
	text-align: left;
	font-family: "Courier New", "Courier", monospaced;
	font-size: 12px;
	line-height: 17px;
	letter-spacing: 0px;
	background-color: transparent;
	/*white-space: nowrap;*/
	}

.MenuSub {
	text-align: left;
	font-family: "Courier New", "Courier", monospaced;
	font-size: 12px;
	line-height: 17px;
	letter-spacing: 0px;
	background-color: transparent;
	/*white-space: nowrap;*/
	}

.Body {
	text-align: left;
	font-family: "Times New Roman", "Times", monospaced;
	/* font-family: Helvetica, Arial, sans-serif; */
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0pt;
	}

.Mono {
	text-align: left;
	font-family: "Courier New", "Courier", monospaced;
	font-size: 12px;
	line-height: 17px;
	letter-spacing: 0pt;
	}

.Big {
	text-align: left;
	/*font-family: "Times New Roman", "Times", monospaced;*/
	font-family: Helvetica, Arial, sans-serif;
	font-size: 32px;
	line-height: 38px;
	letter-spacing: 0pt;
	color: #CCC;
	}

.Caption {
	text-align: left;
	font-family: "Courier New", "Courier", monospaced;
	font-size: 12px;
	line-height: 13px;
	letter-spacing: 0pt;
	}

.Grey {
	color:#999;
	}

.Address {
	text-align: left;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 64px;
	line-height: 70px;
	background-color: transparent;
	}

.News {
	text-align: left;
	font-family: "Courier New", "Courier", monospaced;
	/* font-size: 56px; */
	/* line-height: 60px; */
	font-size: 18px;
	line-height: 21px;
	background-color: transparent;
	}

.mgmtVoice {
	color:#000;
	}

.mgmtVoice a {
	color:#CCC;
	text-decoration: underline;
	}

.mgmtVoice a:visited {
	color:#CCC;
	text-decoration: underline;
	}

.mgmtVoice a:hover {
	color:#000;
	}

#introType {
	margin-bottom:0px;
	margin-top:0px;
	}


/* CONTAINERS */

.nameContainer {
	position: fixed;
 	z-index: 90;
 	left: 20px;
 	top: 66px;
 	height:20px;
  	width: 200px;
 	}

.nameOnContainer {
	position: fixed;
 	z-index: 98;
 	left:20px;
 	top: 130px;
 	padding: 4px 0 0 0;
 	visibility: hidden;
 	background-color: #FFF;
 	}

.navContainer {
	position: fixed;
	left:10px;
	z-index: 90;
	top: 130px;
	width: 200px;
	/*height: 90%;*/
	/* to fix overlap on index page*/
	height:auto;
	padding: 0px;
	}

#tweetinstaContainer {
	display: block;
	padding-top: 10px;
	padding-left: 20px;
	position: absolute;
	top:185px;
	}

.menuContainer {
	position: fixed;
 	z-index: 90;
 	left: 20px;
 	top: 130px;
  	width: 200px;
 	}

.imageContainer {
	position: relative;
	z-index: 90;
	top: 0px;
	left: 20%;
	width: 58%;
	}

.imagesubContainer {
	padding: 15px 0px 0px 0px;
	}

.imageNavContainer {
	z-index: 99;
	padding: 4px 0 0 0;
	}

.moreContainer {
	position: relative;
	left: 264px;
	width: 96px;
	z-index: 99;
	top: 16px;
	}

.bodyContainer {
	position: relative;
	top: 130px;
	/* left: 192px; */
	/*left: 264px;*/
	left: 20%;
	z-index: 90;
	width: 40%;
	}

.homeContainer {
	position: relative;
	top: 130px;
	/* left: 192px; */
	/*left: 264px;*/
	left: 20%;
	z-index: 90;
	width: 60%;
	}

.sidebarContainer {
	position: fixed;
	top: 130px;
	/* left: 192px; */
	/*left: 264px;*/
	left: 80%;
	z-index: 100;
	width: 18%;
	}

.ladyContainer {
	position: fixed;
	top: 82%;
	left: 20px;
	z-index: 100;
	width: 140px;
	}

.dateContainer {
	position: fixed;
	top: 20px;
	left: 80%;
	z-index: 100;
	width: 18%;
	height:40px;
	}

.jumpContainer {
	position: fixed;
	top: 40px;
	left: 80%;
	z-index: 100;
	width: 18%;
	height:40px;
	}

.projectNameContainer {
	position: fixed;
	top: 76px;
	left: 80%;
	z-index: 100;
	width: 18%;
	height:40px;
	}

.projectNameAnimationContainer {
	display: inline-block;
	z-index: 100;
	width: 18%;
	height:40px;
	}

.dateOnContainer {
	position: fixed;
 	z-index:98;
 	left:80%;
 	top: 130px;
 	width: 15%;
 	padding: 8px 0 48px 4px;
 	visibility: hidden;
 	}

.captionContainer {
	position: absolute;
	top: 14px;
	left: 112px;
	}

.node {
	float: left;
	z-index: 98;
	padding: 1px;
	font-family: "Courier New", Courier, monospaced;
	}

.popimageContainer {
	position: absolute;
 	z-index: 90;
 	left: 14px;
 	top: 14px;
 	}

.DotLineContainer {
	position: fixed;
	width: 98%;
	z-index: 99;
	border-top: 1.5px solid #000;
	margin-top: 0px;
 	left: 20px;
 	top: 112px;
}

.bottomLineContainer {
	width: 100%;
	z-index: 99;
	border-top: 1.5px solid #000;
	margin-top: 12px;
	padding: 5px 0 0 0;
}

.imageCaptionContainer {
	padding: 5px 0 20px 0;
	}


.bodyText {
  padding-top: 15px;
  padding-bottom: 15px;
}


/* MENU */

.listActive a:link {
	/* display: block; */
	padding: 0 0 0 0px;
	text-decoration: underline;
	}

.listActive a:visited {
	/* display: block; */
	padding: 0 0 0 0px;
	text-decoration: underline;
	}

.listActive a:hover {
	/* display: block; */
	padding: 0 0 0 0px;
	color: #000;
	text-decoration: underline;
	}

.listStatic a:link {
	/* display: block; */
	padding: 0 0 0 0px;
	text-decoration: none;
	}

.listStatic a:visited {
	/* display: block; */
	padding: 0 0 0 0px;
	text-decoration: none;
	}

.listStatic a:hover {
	/* display: block; */
	padding: 0 0 0 0px;
	color: #000;
	text-decoration: underline;
	}

/* UTILITY FORMATTING */

.pad {
	padding: 0 0 10px 0px;
	}

.clear {
	clear: both;
	height: 0;
	overflow: hidden;
	}

.hidden {
	visibility: hidden;
	}

.indent {
	/* padding: 0 0 0 12px; */
	padding: 0 0 0 0;
	}

.centerHorizontal {
	text-align: center;
	margin: 0 auto;
	}

/* this is a mess! from Dexter Sinister blazon centering*/
/* need to find the image size dynamically and prob code this in the html from the displaySystemMedia */

.centerVertical {
	display: table-cell;
	height: 1200px;
	}

#wrapper {
	margin: 0 auto;
	text-align: left;
	vertical-align: middle;
	/* background-color: #FEF; */
	}

.Underline a {
	text-decoration: none;
	color: #000;
	// text-transform: uppercase;
	}

.Underline a:hover {
	text-decoration: underline;
	}

.Underline a:active {
	color: #FFF;
	}

.Hilight a {
	color:#000;
	text-decoration: none;
	}

.Hilight a:hover {
	color:#999;
	}

.Hilight a:active {
	color:#FFF;
	}

.Arrowlinks a {
	background-image:url('/media/arrow.gif');
	background-repeat:no-repeat;
	padding: 0 0 0 16px;
	}

@media screen and (max-width: 768px) {
  .DotLineContainer {
    width: calc(100% - 40px);
  }

  .jumpContainer {
      left: 60%;
  }

  .Big {
    font-size: 24px;
    line-height: 28.5px;
  }

  .homeContainer {
    left: 20px;
    width: calc(100% - 40px);
    z-index: 10;
    padding-bottom: 100px;
  }

  .bodyContainer {
    left: 20px;
    width: calc(100% - 40px);
    z-index: 10;
  }

  .imageContainer {
    left: 20px;
    width: calc(100% - 40px);
    z-index: 10;
  }

  .sidebarContainer {
    left: 20px;
    width: calc(100% - 40px);
    position: relative;
    padding-top: 130px;
    top: auto;
    z-index: 10;
  }

  .projectNameContainer {
    color: white;
  }

  #tweetinstaContainer {
    display: none;
  }

  .navContainer {
    padding-bottom: 1em;
    position: relative;
  }

  .maxLevel2 .level2.listStatic {
    display: none;
  }

  .maxLevel3 .level2.listStatic, .maxLevel3 .level3.listStatic {
    display: none;
  }

}
